<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>jinja_print </h1>
        <h1>we are printing the data which we r getting from BE</h1>
<!--         
     {% if age > 5 %}  

        <h2>{{name}}</h2>
        <h2>{{age}}</h2>'
    
    {% endif %} -->

    {% if age > 5 %}  

        <h2>{{name}}</h2>
        <h2>{{age}}</h2>
    {% else %}
        <h1>Ur age is not suitable for this app</h1>
        

    {% endif %}













    </center>








</body>
</html>